body {
  margin: 0 auto;
  background: #ddd;
}

iframe {
  margin: 0 auto;  
  width:70%;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
}

input {
  margin: 0 auto;
  width: 34%;
  padding: 2px;
  background: white;
}

div {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

button {
  padding: 10px;
}
